<div>
  <div class="banner" style="background-image, url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=725&q=80);">
    <div class="container">
      <h1><i class="fas fa-film"></i> Abdallah's Cinema</h1>
      <p>Find your favourite movie and share it with us!</p>
      <div class="mt-4 btn-div"><%= link_to "Create your movie list", new_list_path, class: "btn btn-banner" %></div>
    </div>
  </div>
</div>